/* Inside Main.css */
.special-offer-section {
    position: relative;
    height: 400px; /* Set an appropriate height for your section */
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Move the video to the background */
  }
  
  .offer-content {
    position: relative; /* Ensure text is positioned relative to its container */
    z-index: 1; /* Bring the text to the foreground */
    color: white;
    padding: 20px;
    left:-30rem;
  }
  .big-text{
    font-size:40px;
  }
  /* Add your additional styling as needed */
  .add-to-bag-button{
    padding:25px 10px ;
    border-radius:15px;
    width:120px;
    height:20px;
    background-color: rgba(35, 35, 238, 0.973);
  }
  .learn-more-link{
    color:white;
  }